<footer>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <div class="box">
                <h3>Productos</h3>
                <ul>
                  <li>
                    <a routerLink="/products" [queryParams]="{ type: 'news' }"
                      >Nuevos Productos</a
                    >
                  </li>
                  <li>
                    <a routerLink="/products" [queryParams]="{ type: 'offer' }"
                      >En oferta</a
                    >
                  </li>
                  <li>
                    <a routerLink="/products" [queryParams]="{ type: 'latest' }"
                      >Últimos productos</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="box">
                <h3>Acerca de Calmar</h3>
                <ul>
                  <li><a routerLink="/about-us">Sobre nosotros</a></li>
                  <li><a routerLink="/stores">Nuestras tiendas</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="box">
                <h3>Recibir Ofertas y Promociones</h3>
                <mat-form-field class="example-full-width">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput [formControl]="emailField"
                         placeholder=" Ingres&aacute; su correo" class="p-t-5">
                  <mat-error *ngIf="emailField.hasError('email') && !emailField.hasError('required') && emailField.touched">
                    Por favor, revisar su email
                  </mat-error>
                </mat-form-field>
                <button (click)="registerMail()" [disabled]="emailField.invalid" mat-raised-button color="accent">Suscribirse</button>
              </div>
            </div>
          </div>
        </div>
</footer>